<div>
  <h4>
    <div class="col-lg-offset-2 col-lg-2">Recipe_id</div>
    <div class="col-lg-2">Ingredient_id</div>
    <div class="col-lg-2">Quantity</div>
    <div class="col-lg-4">Edit / Delete</div>
  </h4>
</div>