<div>
  <h4>
    <div class="col-lg-offset-1 col-lg-2">Title</div>
    <div class="col-lg-1">Book Id</div>
    <div class="col-lg-1">Chapter</div>
    <div class="col-lg-1">Page</div>
    <div class="col-lg-2">Directions</div>
    <div class="col-lg-2">Image</div>
    <div class="col-lg-2">Edit / Delete</div>
  </h4>
</div>