<div>
  <h4>
    <div class="col-lg-offset-1 col-lg-2">Title</div>
    <div class="col-lg-2">Author</div>
    <div class="col-lg-2">Cuisine</div>
    <div class="col-lg-2">Pub Date</div>
    <div class="col-lg-3">Edit / Delete</div>
  </h4>
</div>